.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-top: 20px;
}

.form__input {
  width: 550px;
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;

  &.short {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.submit_button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.8s ease;

  &:hover {
    background-color: var(--primary-color);
  }
}
