.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  & h1 {
    font-weight: 700;
    font-size: 48px;
    color: var(--secondary-color);
  }
}
.table__layout {
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--white-light);
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

tr,
td {
  border: 1px solid var(--gray);
  padding: 8px;
}

td a {
  text-decoration: underline;
  color: var(--secondary-color);
}

.delete_button {
  background-color: var(--primary-color);
  color: var(--white-light);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--secondary-color);
  }
}
